
<div class="sql-list">

  <%= form_tag("/users/login") do %>
  <div class="profile-in">


    <div class="prf-content">
      <p><input type="text" name="email"></p>
      <p><input type="text" name="password"></p>

      <p><input type="submit" value="save"></p>


    </div>


  </div>

  <% end %>

</div>
