<div class="sql-list">



<div class="profile-in">

  <div class="prf-img-in" style=" background-image:url(<%= "/user_images/#{@user.image_name}" %>) ; "></div>

  <div class="prf-content">
    <h3><%= @user.name %></h3>
    <p><%= @user.country %></p>
  </div>

  <div class="links">
    <a><i class="fa fa-2x fa-facebook-official" aria-hidden="true" style="color:black;"></i></a>
    <a><i class="fa fa-2x fa-twitter" aria-hidden="true" style="color:black;"></i></a>
    <a><i class="fa fa-2x fa-instagram" aria-hidden="true" style="color:black;"></i></a>

  </div>

  <div class="introduction">
    <%= @user.introduction %>
  </div>
</div>
</div>
