
<div class="sql-list">

  <%= form_tag("/posts/create") do %>
  <div class="profile-in">


    <div class="prf-content">
      <textarea name="content" rows="8" cols="80"></textarea>
      <p><input type="number" name="power" placeholder="power"></p>
      <p><input type="submit" value="save"></p>


    </div>


  </div>

  <% end %>

</div>
